html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border: solid 2px black;
    max-width: 500px;
    min-height: 600px;
}

.payment-amount {
    font-size: x-large ;
    font-weight: 500 ;
    background-color: lightgreen
}

.payment-lbl {
    font-weight: bold ;
}

.payment-icon {
    width: 70px ;
}

.icon-selected {
    border: solid 5px green ;
    padding: 5px;
    border-radius: 10px ;
}
.payment-btn {
    width: 300px;
    background-color: green;
    border-radius: 10px;
    color: white;
    align-self: center
}